[Unit]
Description=PAYDAY BANK Flask Client
After=network.target

[Service]
Type=notify
User=astronautmarkus
Group=astronautmarkus

WorkingDirectory=/var/www/payday-bank.astronautmarkus.dev/client

Environment="PATH=/var/www/payday-bank.astronautmarkus.dev/.venv/bin"
Environment="BANK_SECRET_KEY=change-me"

ExecStart=/var/www/payday-bank.astronautmarkus.dev/.venv/bin/gunicorn \
    --workers 3 \
    --bind 127.0.0.1:5005 \
    wsgi:app

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target